body {
    margin: 0;
        overflow: hidden;
            background-color: black;
            }

            canvas {
                display: block;
                    height:600px;
                        width:100%
                        }